body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comic Sans MS', cursive;
    overflow: hidden;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    width: 320px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

.photo {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ff4d6d;
    margin-bottom: 10px;
}

h1 {
    color: #ff4d6d;
    font-size: 20px;
}

.buttons {
    margin-top: 15px;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

#yesBtn {
    background: red;
    color: white;
}

#noBtn {
    background: gray;
    color: white;
    position: absolute;
}

.flower {
    position: fixed;
    top: -30px;
    font-size: 24px;
    animation: fall linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(110vh);
    }
}
ssssssssssssss